In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
os.chdir('C:/Users/Hamza')

In [3]:
df = pd.read_csv('iphone_purchase_records.csv')

In [4]:
df.head()

   Gender  Age  Salary  Purchase Iphone
0    Male   19   19000                0
1    Male   35   20000                0
2  Female   26   43000                0
3  Female   27   57000                0
4    Male   19   76000                0

In [5]:
df.shape

(400, 4)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
Gender             400 non-null object
Age                400 non-null int64
Salary             400 non-null int64
Purchase Iphone    400 non-null int64
dtypes: int64(3), object(1)
memory usage: 12.6+ KB

In [9]:
df.isnull().sum()

Gender             0
Age                0
Salary             0
Purchase Iphone    0
dtype: int64

In [10]:
df.replace({'Gender':{'Female':0,'Male':1}},inplace=True)

In [11]:
df.head()

   Gender  Age  Salary  Purchase Iphone
0       1   19   19000                0
1       1   35   20000                0
2       0   26   43000                0
3       0   27   57000                0
4       1   19   76000                0

In [12]:
X = df.drop(['Purchase Iphone'],axis=1)
y = df['Purchase Iphone']

In [13]:
X.head(3)

   Gender  Age  Salary
0       1   19   19000
1       1   35   20000
2       0   26   43000

In [14]:
y.head(3)

0    0
1    0
2    0
Name: Purchase Iphone, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [17]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [18]:
from sklearn.neighbors import KNeighborsClassifier

In [41]:
model = KNeighborsClassifier(n_neighbors=10)

In [42]:
model.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                     weights='uniform')

In [43]:
pred1 = model.predict(X_test)
pred1

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1], dtype=int64)

In [44]:
pred2 = model.predict(X_test)

In [45]:
X.head(3)

   Gender  Age  Salary
0       1   19   19000
1       1   35   20000
2       0   26   43000

In [46]:
from sklearn import metrics
cm = metrics.confusion_matrix(y_test, pred2) 
print(cm)
accuracy = metrics.accuracy_score(y_test, pred2) 
print("Accuracy score:",accuracy)
precision = metrics.precision_score(y_test, pred2) 
print("Precision score:",precision)
recall = metrics.recall_score(y_test, pred2) 
print("Recall score:",recall)

[[55  3]
 [ 1 21]]
Accuracy score: 0.95
Precision score: 0.875
Recall score: 0.9545454545454546